main{
 margin-top: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .card {
   position: relative;
   border: 1px solid #81AE9D;
   filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
   border-radius: 10px;
   height: 180px;
   overflow: hidden;
   
  
  
  }
  .myb{
    margin-top: 1rem;
  }
  .card img{
    border-radius: 10px;
  }
  .card-body{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
 .card-text{
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: 0;
  
  
 }
  .imgText{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 1px;
    text-align:left;
    padding-left: 3rem;
    color: white;
    background: rgba(97, 113, 146, 0.53);
    border-radius: 25px;
    
  }
  .imgText span{
    font-size: 0.6rem;
    line-height: 60px;
  }
  .wrapper{
    display: flex;
    justify-content: space-around;
  }
  .bi-arrow-right{
    font-size: 2rem;
    float: right;
    color: rgb(255, 255, 255);
    font-weight:bold;
    line-height: 60px;
    padding-right:2rem;
  }
  .search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
  }
  
  
  
  .search .bi-search { 
  position: absolute;
  top: 12%;
  left: 2px;
  font-size: 1.2rem;
  background-color: #FBFFFA;
  }
  .form-control{
  padding-left: 1.5rem;
  border:inherit;

  }
  .bi-house-door{
  font-size: 1.5rem;
  }
  .bi-bag{
    position: relative;
  font-size: 1.5rem;
  }
  .bi-heart{
    margin-top: 1px;
  font-size: 1.5rem;
  }
  .bi-person-fill{
  font-size: 1.5rem;
  }
  .btn-sm{
    outline: none;
  }
  .btn-sm:active{
    border: inherit;
    outline: none;
  }
  .btn-sm:hover{
    border: inherit;
    outline: none;
  }
  .bi-arrow-left-square{
    font-size: 1.7rem;
    color: #1D3557;
  }
  .navbar {

    margin: auto;
    background-color: #FBFFFA;
  }
  
  @media (min-width: 768px) {
    .tntlogo{
      width:130px;
      height:55px;
    } 
  }

  .tntlogo{
    width:100px;
    height:35px;
  } 

  .footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .myb{
    border-radius: 20px
  }
  .pw{
   padding: 0.5rem;
   
   
  }
 .pwc{
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
   

  }

  .price{
    margin-top: 4px;
    font-size: 1rem;
    color: red;
    font-weight: bolder;
  }
  .bi-plus-square{
    margin-top: 0;
    font-size: 1rem;
    font-weight: bolder !important;
  }
  .aplus{
    margin-top: 0;
  }
  .badge-danger{
    position: absolute;
    font-size: 5px;
    border: 1px solid red;
    width: 2px;
    height: 2px;

  }