<header >
    <div class="container px-4">
      <nav class="navbar bg-light fixed-top justify-content-between">
        <a class="navbar-brand  d-none d-md-block d-lg-block"><img src="https://s3-alpha-sig.figma.com/img/a307/042a/48b13ad7292b7eacdc3e8069c7a7f036?Expires=1657497600&Signature=eiwG2hP6B7Co7Wf-4zGQGgWLFMEvUrWDFULimqBcGUzhpSeFZ9AoSvbjwf2NzEO5Sx0RTWZXG~rNRsH91Uu0wmIYrJWaSREslIolMLrrnYpZ7iPry0LT2VU7emxpJhWyAyn48-FUwVRlQVnHpQg1URFMhMAdFDir-QbM0MioSVhvPVcfx~m220fGqPx-rJGxVoIVXKQmbcl4~rWc4wIbXr5rXJTakyXzFLNLSlKdg~0UcvLHYh0U7sUyiOvZFAZVgtsvD~sbqCfwiwttn3B-zQTXJRFQR89Lh11mZhQgcsfd2nm~qsoBL-oujkiAZuQQpIUrKrXUNCiXyeHrdpe8qw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" 
          alt="" class="tntlogo"></a>
          <a href="#"><i class="bi bi-arrow-left d-block d-sm-none"></i> </a>
        <div class=" searchwarapper d-flex justify-content-end">
           <div class="search ">
             <i class="bi bi-search"></i>
             <input class="form-control sm-2" type="search" placeholder="Search Shop" aria-label="Search">
           </div>
           </div>
       </nav>
    </div>
   
  </header>

<!-- main -->

<main>
    <div class="container main px-4">
      <div class="row wrapper ">
        <div class="col-6 col-sm-3 col-md-4 b-4 myb">
            <div class="card shadow-sm">
                <div class="pw">
                    <div class="pwc">
                        <img src="https://s3-alpha-sig.figma.com/img/54d8/c380/757464332a0c984f0337c4fed8633969?Expires=1657497600&Signature=eo3XluJeCHgCjcdtHisSIaw2a36ULMAcN4BjRVGqapBsjqDBSkhnq~n7uQO1otxv6i4jpU7Tmn2PkVKzejVfKSJl4vNDjZpxngIR00Bb2U2pbhj897yk3mxWbr0jzYrJLPaBdjRbcdUS-sSfhrbdA7ISgYNKgGD8t51fH9vJkchalPbM6enAZ9kw~g~~fm3E~NsAocAlUq9hMDCEqodaZsXKuRsG6QDwNOESuDoY1J-ys6sBionKhJPJki2Vxfy0CyOEIjJiYK9lOX5UxnZp2hSWRhcFpJxsqwOfe1zVICgJtjS7NESA56UxGVwMgFEujFlTt5C7Y5HH9v8xUCANuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="img-fluid thumbnail-image" alt="">
                    </div>
                    
                </div>
                
                
                <div class="card-body p-1">
                  <p class="card-text">Can Coke 400ml</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <h6 class="price">R12</h6>
                    <div class="btn-group">
                      <button class="btn btn-sm"><i class="bi bi-plus-square"></i></button>
                     
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
  
        <div class="col-6 col-sm-3 col-md-4 b-4 myb">
          <div class="card shadow-sm">
              <div class="pw">
                  <div class="pwc">
                      <img src="https://s3-alpha-sig.figma.com/img/54d8/c380/757464332a0c984f0337c4fed8633969?Expires=1657497600&Signature=eo3XluJeCHgCjcdtHisSIaw2a36ULMAcN4BjRVGqapBsjqDBSkhnq~n7uQO1otxv6i4jpU7Tmn2PkVKzejVfKSJl4vNDjZpxngIR00Bb2U2pbhj897yk3mxWbr0jzYrJLPaBdjRbcdUS-sSfhrbdA7ISgYNKgGD8t51fH9vJkchalPbM6enAZ9kw~g~~fm3E~NsAocAlUq9hMDCEqodaZsXKuRsG6QDwNOESuDoY1J-ys6sBionKhJPJki2Vxfy0CyOEIjJiYK9lOX5UxnZp2hSWRhcFpJxsqwOfe1zVICgJtjS7NESA56UxGVwMgFEujFlTt5C7Y5HH9v8xUCANuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="img-fluid thumbnail-image" alt="">
                  </div>
                  
              </div>
              
              
              <div class="card-body p-1">
                <p class="card-text">Can Coke 400ml</p>
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="price">R12</h6>
                  <div class="btn-group">
                    <button class="btn btn-sm"><i class="bi bi-plus-square"></i></button>
                   
                  </div>
                  
                </div>
              </div>
            </div>
      </div>

      <div class="col-6 col-sm-3 col-md-4 b-4 myb">
        <div class="card shadow-sm">
            <div class="pw">
                <div class="pwc">
                    <img src="https://s3-alpha-sig.figma.com/img/54d8/c380/757464332a0c984f0337c4fed8633969?Expires=1657497600&Signature=eo3XluJeCHgCjcdtHisSIaw2a36ULMAcN4BjRVGqapBsjqDBSkhnq~n7uQO1otxv6i4jpU7Tmn2PkVKzejVfKSJl4vNDjZpxngIR00Bb2U2pbhj897yk3mxWbr0jzYrJLPaBdjRbcdUS-sSfhrbdA7ISgYNKgGD8t51fH9vJkchalPbM6enAZ9kw~g~~fm3E~NsAocAlUq9hMDCEqodaZsXKuRsG6QDwNOESuDoY1J-ys6sBionKhJPJki2Vxfy0CyOEIjJiYK9lOX5UxnZp2hSWRhcFpJxsqwOfe1zVICgJtjS7NESA56UxGVwMgFEujFlTt5C7Y5HH9v8xUCANuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="img-fluid thumbnail-image" alt="">
                </div>
                
            </div>
            
            
            <div class="card-body p-1">
              <p class="card-text">Can Coke 400ml</p>
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="price">R12</h6>
                <div class="btn-group">
                  <button class="btn btn-sm"><i class="bi bi-plus-square"></i></button>
                 
                </div>
                
              </div>
            </div>
          </div>
    </div>

    <div class="col-6 col-sm-3 col-md-4 b-4 myb">
      <div class="card shadow-sm">
          <div class="pw">
              <div class="pwc">
                  <img src="https://s3-alpha-sig.figma.com/img/54d8/c380/757464332a0c984f0337c4fed8633969?Expires=1657497600&Signature=eo3XluJeCHgCjcdtHisSIaw2a36ULMAcN4BjRVGqapBsjqDBSkhnq~n7uQO1otxv6i4jpU7Tmn2PkVKzejVfKSJl4vNDjZpxngIR00Bb2U2pbhj897yk3mxWbr0jzYrJLPaBdjRbcdUS-sSfhrbdA7ISgYNKgGD8t51fH9vJkchalPbM6enAZ9kw~g~~fm3E~NsAocAlUq9hMDCEqodaZsXKuRsG6QDwNOESuDoY1J-ys6sBionKhJPJki2Vxfy0CyOEIjJiYK9lOX5UxnZp2hSWRhcFpJxsqwOfe1zVICgJtjS7NESA56UxGVwMgFEujFlTt5C7Y5HH9v8xUCANuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="img-fluid thumbnail-image" alt="">
              </div>
              
          </div>
          
          
          <div class="card-body p-1">
            <p class="card-text">Can Coke 400ml</p>
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="price">R12</h6>
              <div class="btn-group">
                <button class="btn btn-sm"><i class="bi bi-plus-square"></i></button>
               
              </div>
              
            </div>
          </div>
        </div>
  </div>

  <div class="col-6 col-sm-3 col-md-4 b-4 myb">
    <div class="card shadow-sm">
        <div class="pw">
            <div class="pwc">
                <img src="https://s3-alpha-sig.figma.com/img/54d8/c380/757464332a0c984f0337c4fed8633969?Expires=1657497600&Signature=eo3XluJeCHgCjcdtHisSIaw2a36ULMAcN4BjRVGqapBsjqDBSkhnq~n7uQO1otxv6i4jpU7Tmn2PkVKzejVfKSJl4vNDjZpxngIR00Bb2U2pbhj897yk3mxWbr0jzYrJLPaBdjRbcdUS-sSfhrbdA7ISgYNKgGD8t51fH9vJkchalPbM6enAZ9kw~g~~fm3E~NsAocAlUq9hMDCEqodaZsXKuRsG6QDwNOESuDoY1J-ys6sBionKhJPJki2Vxfy0CyOEIjJiYK9lOX5UxnZp2hSWRhcFpJxsqwOfe1zVICgJtjS7NESA56UxGVwMgFEujFlTt5C7Y5HH9v8xUCANuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="img-fluid thumbnail-image" alt="">
            </div>
            
        </div>
        
        
        <div class="card-body p-1">
          <p class="card-text">Can Coke 400ml</p>
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="price">R12</h6>
            <div class="btn-group">
              <button class="btn btn-sm"><i class="bi bi-plus-square"></i></button>
             
            </div>
            
          </div>
        </div>
      </div>
</div>

<div class="col-6 col-sm-3 col-md-4 b-4 myb">
  <div class="card shadow-sm">
      <div class="pw">
          <div class="pwc">
              <img src="https://s3-alpha-sig.figma.com/img/54d8/c380/757464332a0c984f0337c4fed8633969?Expires=1657497600&Signature=eo3XluJeCHgCjcdtHisSIaw2a36ULMAcN4BjRVGqapBsjqDBSkhnq~n7uQO1otxv6i4jpU7Tmn2PkVKzejVfKSJl4vNDjZpxngIR00Bb2U2pbhj897yk3mxWbr0jzYrJLPaBdjRbcdUS-sSfhrbdA7ISgYNKgGD8t51fH9vJkchalPbM6enAZ9kw~g~~fm3E~NsAocAlUq9hMDCEqodaZsXKuRsG6QDwNOESuDoY1J-ys6sBionKhJPJki2Vxfy0CyOEIjJiYK9lOX5UxnZp2hSWRhcFpJxsqwOfe1zVICgJtjS7NESA56UxGVwMgFEujFlTt5C7Y5HH9v8xUCANuA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="img-fluid thumbnail-image" alt="">
          </div>
          
      </div>
      
      
      <div class="card-body p-1">
        <p class="card-text">Can Coke 400ml</p>
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="price">R12</h6>
          <div class="btn-group">
            <button class="btn btn-sm"><i class="bi bi-plus-square"></i></button>
           
          </div>
          
        </div>
      </div>
    </div>
</div>



        </div>
    
        
          </div>
       
  </main>

  <!-- footer -->

  <div class="footer sticky mt-auto pt-1 bg-light">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-between d-block d-sm-none">
          <i class="bi bi-house-door"></i>
          <i class="bi bi-bag"></i>
          <i class="bi bi-heart"></i>
          <i class="bi bi-person-fill"></i>
        </div>
      </div>
      
    </div>
  </div>