.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.card {
 position: relative;
 border: 1px solid #81AE9D;
 filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
 border-radius: 10px;
 


}
.card img{
  border-radius: 10px;
  
}
.imgText{
  width: 100%;
  height: 2.2rem;
  position: absolute;
  bottom: 1px;
  text-align:left;
  padding-left: 1.5rem;
  color: white;
  background: rgba(97, 113, 146, 0.53);
  border-radius: 25px;
  
}
.imgText span{
  font-size: 1rem;
  line-height: 2rem;
}
.wrapper{
  /* display: flex;
  justify-content: center; */
}
.bi-arrow-right{
  font-size: 1.5rem;
  float: right;
  color: rgb(255, 255, 255);
  font-weight:bold;
  line-height: 2rem;
  padding-right:2rem;
}
.search { 
position: relative; 
margin: 0 auto ;
text-align: center;
}

.searchwarapper{

}

.search .bi-search { 
position: absolute;
top: 12%;
left: 2px;
font-size: 1.2rem;

}
.form-control{
padding-left: 1.5rem;
border:inherit;
}


@media (min-width: 768px) {

}

#myCarousel{
height: 00px;
}
/* text */
.display-2{
  font-size: 1.7rem;
}
.fs{
  font-size: 0.9rem;
}