<header>
  <div class="container px-4">
    <nav class="navbar  justify-content-between">
      <a class="navbar-brand"><img src="https://s3-alpha-sig.figma.com/img/a307/042a/48b13ad7292b7eacdc3e8069c7a7f036?Expires=1657497600&Signature=eiwG2hP6B7Co7Wf-4zGQGgWLFMEvUrWDFULimqBcGUzhpSeFZ9AoSvbjwf2NzEO5Sx0RTWZXG~rNRsH91Uu0wmIYrJWaSREslIolMLrrnYpZ7iPry0LT2VU7emxpJhWyAyn48-FUwVRlQVnHpQg1URFMhMAdFDir-QbM0MioSVhvPVcfx~m220fGqPx-rJGxVoIVXKQmbcl4~rWc4wIbXr5rXJTakyXzFLNLSlKdg~0UcvLHYh0U7sUyiOvZFAZVgtsvD~sbqCfwiwttn3B-zQTXJRFQR89Lh11mZhQgcsfd2nm~qsoBL-oujkiAZuQQpIUrKrXUNCiXyeHrdpe8qw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" 
        alt="" class="tntlogo"></a>
      <div class="searchwarapper d-flex justify-content-end">
         <div class="search">
           <i class="bi bi-search"></i>
           <input class="form-control sm-2" type="search" placeholder="Search Shop" aria-label="Search">
         </div>
         </div>
     </nav>
  </div>
 
</header>

<!-- jumbotron -->
<div class="p-3 mb-3 bg-light rounded-3">
  <div class="container py-2">
    <h1 class="display-2 fw-bold">Tap n Take</h1>
    <p class="col-md-8 fs-4">Provides a service for ordering food and drinks online. Collect your order at the shop at your convenient time.</p>
    <button class="btn btn-primary btn-lg" type="button">More About Us</button>
  </div>
</div>


<main>
  <div class="container px-4">
    <div class="row g-3 wrapper">
      <div class="col col-sm-4 col-md-4 b-4">
        <div class="card ">
          <img src="https://s3-alpha-sig.figma.com/img/e90d/1aee/862b4adf1ad5bf768547def72693c56e?Expires=1657497600&Signature=fED8H64xRSSWd97nah8RHZFUo75KMyk0bNu6yDTOvS0rixrR3KBsxjA4-j~GVYsAFRQ~CwECXM0DLtiR8zu2djbwn1AL41VnKsI7LYHWATOwns9EjFtRWv9bXAY~5H0SbGdElod3f-klRH5cIveVj23rRSje96j6GmMvRZrbuDh4mVvB0ou4RrCc4ln8Se5xpwVIpo8Ig1vXOqiBBAb6KEn23ItsKFl5HG~lfD-T0mfFPpM5TW0uiTrKrvb1WXy-7C04LYESG4GSBIGLZRerPZ0pjDU49Xbp4-84q4mYFgJa7U0UWCSsbMc~HsZJSdkmBtRIlq1LEqoE2-9bKrCrcQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
          <div class="imgText"><span class="shopname">Spinach King</span><i class="bi bi-arrow-right"></i></div>
          
        </div>
      </div>

      <div class="col col-sm-4 col-md-4 mb-4">
        <div class="card ">
          <img src="https://s3-alpha-sig.figma.com/img/3317/a073/a70096c6fea4b0ae778d4b55f0b32d6c?Expires=1657497600&Signature=ayhVJmKRz8O35fQ8PyxqC3BFSAdhIrEfcrIkAcfFwDW60HJYsd91GC4UXttaKLr3XEkA~YeMf68SiiAnf8F1Li7GwjlNfPBVuD7gy3xyGiaDMWtT5gQIUAkTNNu1s-xjRlaeJr53AfFA6H2U9LGmO-Syrh3GRkuzSfeo6~297eouKqJ5DCHny-FRfsYmLnbgFlrMAkRgtJjnu3TFLriIdm-hI3AJBl-Pz-jgsNR0d1JwA6MKdxt-bCwTva0Z9DcSKzDJO4uLTldpMYw1WgPgmeBi98bfAvTvtdFYAQfd4nmbcbXweowp6cfSJRsTHaFT9u4tVid1aegCigB~xS72nQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
          <div class="imgText"><span class="shopname">Phunga Cafe</span><i class="bi bi-arrow-right"></i></div>
  
          
        </div>
      </div>

      <div class="col col-sm-4 col-md-4 mb-4 ">
        <div class="card  ">
          <img src="https://s3-alpha-sig.figma.com/img/cdca/8e95/3fda006337717e814ac7b7ab1d60ed1f?Expires=1657497600&Signature=P65Oru3M4-VRBfbdZyeRmPvKtq59jctSTu8mBTLguno8ikeM4tKPAJE9RrMWbfJ1eIzxahIRgmULcLhqkPbV2z8h0nBrhKXMtXzpY0-VugtXoxDqEc8~8FyW8Fd8Eruth-sC1Tg0a-jdJoMzn-SwjdyoLDOBm6o3RmM0967ywX2KMItipKPk9CZbVBI38huoiMpgV9c8kZxF6oW6W7L8NS-mp4Qp6Xggipua-lYfSkf62BV3nZWxy8m0FxwJ0EB7FYzx9Ot2lN-aAuhl58ZqjrQ-ISi7-S~u7YqCsYrv~doFuy-C5zo0tF6jfbN~M3nC47PWUXp45jSBVSt94WlTxw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="" style="width:100%;">
          <div class="imgText"><span class="shopname">Rootz Tuck Shop</span><i class="bi bi-arrow-right"></i></div>
          
        </div>
      </div>
  
      
        </div>
      </div>
</main>

<div class="footer sticky mt-auto pt-1 bg-light">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-between d-block d-sm-none">
        <i class="bi bi-house-door"></i>
        <i class="bi bi-bag"></i>
        <i class="bi bi-heart"></i>
        <i class="bi bi-person-fill"></i>
      </div>
    </div>
    
  </div>
</div>
