<div class="footer pt-1 bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col d-flex justify-content-between d-block d-md-none">
          <a routerLink="/home"><i class="bi bi-house-door"></i></a>
          <a routerLink="/cart"><i class="bi bi-bag"></i><span class="badge badge-light">{{totalItems.length}}</span></a>
          <i class="bi bi-heart"></i>
          <a><i class="bi bi-person-fill" routerLink="/dashboard"></i></a>
        </div>
        <div class=" d-none d-lg-block d-md-block ">

          <footer class="text-center text-white">
          <!-- Grid container -->
          <div class="container">
            <!-- Section: Social media -->
            <section class="mb-1">
              <!-- Facebook -->
              <a
                class="btn btn-link"
                ><i class="bi bi-facebook"></i>
              </a>
        
              <!-- Twitter -->
              <a
                class="btn btn-link "
                ><i class="bi bi-twitter"></i>
              </a>
        
              <!-- Google -->
              <a
                class="btn btn-link"
                ><i class="bi bi-google"></i>
              </a>
        
              <!-- Instagram -->
              <a
                class="btn btn-link"
                ><i class="bi bi-instagram"></i>
              </a>
        
              <!-- Linkedin -->
              <a
                class="btn btn-link"
                ><i class="bi bi-linkedin"></i>
              </a>
              <!-- Github -->
              <a
                class="btn btn-link"
                ><i class="bi bi-github"></i>
              </a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center text-dark mb-3">
            © 2022 Copyright:
            <a class="text-dark" href="#">SSVK Webworx</a>
          </div>
          <!-- Copyright -->
        </footer>
          
        </div>
        <!-- End of .container -->
      </div>
    </div>
  </div>

  