
.footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .badge{
    background-color: rgb(32, 214, 114);
    font-size: 10px;
    color: black;
    position: relative;
    top: -15px;
    left: -2px;
    
    border-radius: 50%;
}
.bi-house-door{
    font-size: 1.5rem;
    }.bi-bag{
    font-size: 1.5rem;
    }.bi-heart{
      margin-top: 1px;
    font-size: 1.5rem;
    }.bi-person-fill{
    font-size: 1.5rem;
    }

    .btn{
      color: black;
    }