*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url("https://cdn.shopify.com/s/files/1/0717/1599/products/WineandDine_FabulousFlowers_800x.jpg?v=1651813874");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.navbar-brand{
    font-size: 1.5rem;
}
.nav-link{
    font-size: 1rem;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}
.form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
btn2{
    
    
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btns{
  display: flex;
  justify-content: center;
  gap: 20%;
}
.btn2{
    border: none;
    background-color: inherit;
}
.col span{
    color: red;
    font-size: 15px;
}